<h1 align="center">{{title}}</h1>



<button class="btn btn-primary" *ngIf="loginService.isUserLoggedIn()" routerLink="/country" style="margin-right:5px;">Countries</button>
<button class="btn btn-success" *ngIf="loginService.isUserLoggedIn()" routerLink="/equipe" style="margin-right:5px;" >Equipes</button>
<button class="btn btn-success" *ngIf="loginService.isUserLoggedIn()" routerLink="/provider" style="margin-right:5px;" >Providers</button>
<button class="btn btn-warning"  *ngIf="!loginService.isUserLoggedIn()"routerLink="/login" style="margin-right:5px;">Login</button>
<button class="btn btn-warning"  *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" style="margin-right:5px;">Logout</button>
<hr/>
<router-outlet></router-outlet>
